.header{
    height: 34vw;
    margin: 30px auto;
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.pinterest.com%2Fpin%2Ffree-food-beverage-hotel-background-images-food-and-beverage-cartoon-hand-painted-poster-banner-photo-background-png-and-vectors--741827369889516258%2F&psig=AOvVaw3Qxp3_LmOhbKhqLO50qwCi&ust=1722430686365000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMDao8PozocDFQAAAAAdAAAAABBa") no-repeat;
    background-size: cover;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 12px 15px;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}